.ListOfGifs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.ListOfGifs-items {
  width: 100%;
}

.ListOfGifs-items img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.Category-list {
  display: flex;
  flex-wrap: wrap;
}

.Category-link {
  margin: 10px;
}
