.App {
  text-align: center;
}

.App-content {
  background: linear-gradient(#282c34 80%, rgb(95, 92, 92));
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #fff;
  padding: 16px;
}

.App-content a {
  text-decoration: none;
  color: #fff;
}

.App-content-logo {
  width: 30%;
  cursor: pointer;
}

.App-content img {
  margin: 5px;
}

.Home-Form {
  margin: 20px;
}

.Home-Form input {
  font-size: 30px;
  padding: 5px;
}

.popularGifs {
  width: 100%;
  text-align: left;
}

.search {
  text-align: left;
}

.search-title {
  padding-left: 5px;
}
